<div class="message <%= message.user == current_user ? "my-message" : "" %>">
  <div>
    <p class="message--nickname"><b><%= message.user.nickname %></b>
      -
      <i><%= message.created_at.strftime("%l:%M %p") %></i></p>

  </div>
  <p><%= message.content %></p>
</div>
