<div class="message <%= "my-message" if message.user == current_user %>">
  <div>
    <p class="message--nickname"><b><%= message.user.nickname %></b>
      -
      <i><%= message.created_at.strftime("%k:%M") %></i></p>

  </div>
  <p><%= message.content %></p>
</div>
