@import 'components/chatroom';
@import 'components/message';
@import 'components/navbar';

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: -56px;
  @apply m-auto px-4 flex flex-col justify-center items-center;
}

h1 {
  @apply text-4xl font-bold text-center text-gray-700;
}
